.aside {
  &_class--icon {
    margin: 30px 35px;
    height: 100px;
    width: 125px;
    border: 3px solid #555;
  }
  &_wrap {
    width: 30%;
    height: 75vh;
    color: #fff;
    padding-right: 3px;
  }

  &_text {
    margin: 30px 20px;
    padding: 5px 10px;
  }
}

@media (max-width: 850px) {
  .aside {
    &_class--icon {
      margin-top: 25px;
      margin-left: 25px;
      margin-bottom: 0px;
      height: 60px;
      width: 75px;
      border: 1px solid #555;
    }
    &_wrap {
      width: 30%;
      height: 75vh;
      color: #fff;
      padding-right: 3px;
    }

    &_text {
      margin: 15px 0 0 20px;
      padding: 0 auto;
      font-size: 16px;
    }
  }
}
@media (max-width: 680px) {
  .aside {
    &_class--icon {
      margin-top: 25px;
      margin-left: 25px;
      margin-bottom: 0px;
      height: 60px;
      width: 75px;
      border: 1px solid #555;
    }
    &_wrap {
      width: 30%;
      height: 75vh;
      color: #fff;

      padding-right: 3px;
    }

    &_text {
      margin: 13px 0 0 20px;
      padding: 0 auto;
      font-size: 14px;
    }
  }
}
