.header {
  &_panel {
    position: relative;
    display: flex;
    width: 100%;
    height: 10vh;
    margin: 20px auto;
  }

  &_form {
    min-width: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-30%);
  }

  &_search {
    padding: 5px;
    margin: 2px 15px;
  }

  &_button {
    padding: 5px 10px;
    margin-right: 15px;
  }

  &_select {
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  &_logo {
    height: 150px;
  }
}
