@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

@import './style/Aside.scss';
@import './style/Header.scss';
@import './style/Main.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  min-height: 100vh;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("/img/bg.jpg");
}
